#about {
  padding: 50px 0;
  @extend %img;
  z-index: 3;

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding: 150px 0;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding: 250px 0;
  }

  .about-item {
    position: relative;
    padding: 40px 25px;
    background: $body-bg;
    display: flex;

    @media (min-width: map_get($grid-breakpoints, sm)) {
      padding: 50px 30px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding: 70px 50px;
    }

    .decor-symbol {
      width: 400px;
      display: none;

      @media (min-width: map_get($grid-breakpoints, lg)) {
        display: block;
      }

      &-item {
        position: absolute;
        top: 0;
        left: 0;
        transition: 1s;

        &--bg {
          top: -90px;
          left: 30px;
          z-index: 5;
        }

        &--border {
          top: -90px;
          left: 30px;
          z-index: 10;
        }

        img {
          width: 364px;
          height: 539px;
        }
      }
    }

    .content {

      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: 70%;
      }

      .title {
        margin-bottom: 20px;
      }

      .description {

        @media (min-width: map_get($grid-breakpoints, sm)) {
          max-width: 500px;
          margin-left: 80px;
        }

        p {
          font-size: 1.25rem;
          margin-bottom: 20px;
        }
      }
    }

    .decor-line-list {
      position: absolute;
      top: -40px;
      left: 40px;
      z-index: -1;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        top: -50px;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        top: -170px;
        left: 50px;
      }


      li {
        position: absolute;
        background: $primary;
        transform: skewX(-20deg) translateY(-200%);
        transition: .5s;

        &:nth-of-type(1) {
          top: 10px;
          left: 0;
          width: 35px;
          height: 300px;

          @media (min-width: map_get($grid-breakpoints, lg)) {
            top: 20px;
            height: 650px;
          }
        }

        &:nth-of-type(2) {
          top: 0;
          left: 25px;
          width: 50px;
          height: 440px;
          transition-delay: .2s;

          @media (min-width: map_get($grid-breakpoints, lg)) {
            left: 45px;
            height: 700px;
          }
        }

        &:nth-of-type(3) {
          top: 20px;
          left: 80px;
          width: 70px;
          height: 440px;
          transition-delay: .4s;

          @media (min-width: map_get($grid-breakpoints, lg)) {
            top: 40px;
            left: 90px;
            height: 720px;
          }
        }

        &:nth-of-type(4) {
          top: 30px;
          left: 160px;
          width: 25px;
          height: 420px;
          transition-delay: .6s;

          @media (min-width: map_get($grid-breakpoints, lg)) {
            top: 90px;
            left: 180px;
            height: 590px;
          }
        }
      }
    }
  }

  .decor-mask {
    @extend %pos;
    width: 100%;
    height: 100%;
    z-index: -1;

    #text {
      display: none;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        display: block;
      }
    }

    #overlay {
      mask: url(#mask);
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1;
    }
  }


  &.start-animation {

    .decor-line-list {

      li {
        transform: skewX(-20deg) translateY(0);
      }
    }

    .decor-symbol {

      &-item {

        &--border {
          top: -40px;
          left: 70px;
        }
      }
    }


    #overlay {
      opacity: 1;
    }
  }
}
