#portfolio-main {
  padding: 200px 0;

  .slider-nav {
    position: absolute;
    top: -30px;
    left: 0;
    bottom: -20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 20;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      top: -15px;
      bottom: 0;
    }
  }

  .slider-nav-counter {
    display: flex;
    align-items: center;
    padding-left: 15px;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding-left: 40px;
    }

    .decor-line {
      width: 130px;
      height: 1px;
      background: #5F646E;
    }
  }

  .slider-nav-arrow {
    padding-left: 20px;

    @media (min-width: map_get($grid-breakpoints, lg)) {
      padding-left: 70px;
    }
  }
}

.portfolio-slider {
  position: relative;
  z-index: 10;

  &--end {

    .portfolio-item {
      align-items: flex-end;
    }

    &::before {
      right: 5%;
    }
  }

  &--start {

    .portfolio-item {
      align-items: flex-start;
    }

    &::before {
      left: 5%;
    }
  }

  .portfolio-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding-left: 40px;
    }

    .place {
      position: relative;
      font-family: $headings-font-family;
      color: #fff;
      margin-bottom: 15px;
      z-index: 10;
    }

    .image {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      @extend %img;
      z-index: 5;
    }

    .description {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $dark;
      border-top: 4px solid $primary;
      padding: 40px;
      z-index: 10;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        flex-direction: row;
      }

      @media (min-width: map_get($grid-breakpoints, xl)) {
        width: 600px;
        padding: 50px;
        margin-top: -270px;
      }

      .logo {
        margin-bottom: 15px;

        @media (min-width: map_get($grid-breakpoints, sm)) {
          margin-right: 30px;
          margin-bottom: 0;
        }

        img {
          width: auto;
        }
      }

      .content {

        @media (min-width: map_get($grid-breakpoints, sm)) {
          padding-left: 30px;
          border-left: 1px solid #292C31;
        }

        .subtitle {
          font-family: $headings-font-family;
          color: #5F646E;
          margin-bottom: 15px;
        }

        .title {
          margin-bottom: 20px;
        }

        p {
          margin-bottom: 20px;
        }
      }
    }

    .decor-title {
      display: none;
      position: absolute;
      left: 35px;
      bottom: -40px;
      transform: rotate(-90deg);
      font-size: $h1-font-size;
      font-family: $headings-font-family;
      transform-origin: 0 50%;

      @media (min-width: map_get($grid-breakpoints, xl)) {
        display: block;
      }

      &--white {
        color: #fff;
        z-index: 2;
      }

      &--transparent {
        color: transparent;
        -webkit-text-stroke: 1px #fff;
        text-stroke: 1px #fff;
        z-index: 10;
      }
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -20px;
    bottom: -30px;
    background: $secondary;
    width: 35%;
    z-index: -4;
  }
}